.app-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  background-color: rgba(62, 150, 233, 0.562);
}

.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
.app-wrapper button{
  background-color: #0275d8;
  color: white;
}